<div class="main-container">
  <div class="dropdown-area">
    <kendo-dropdownlist class="dropdown" [data]="seriesListItems" [value]="seriesListItems[0]"
                        (selectionChange)="onSelectionChange($event, DROP_DOWN_TYPE.SERIES)">
    </kendo-dropdownlist>

    <kendo-dropdownlist *ngIf="!!seasonsListItems.length" class="dropdown" [data]="seasonsListItems" [value]="seasonsListItems[0]"
                        (selectionChange)="onSelectionChange($event, DROP_DOWN_TYPE.SEASON)">
    </kendo-dropdownlist>

    <kendo-dropdownlist *ngIf="!!episodesListItems.length" class="dropdown" [data]="episodesListItems" [value]="episodesListItems[0]"
                        (selectionChange)="onSelectionChange($event, DROP_DOWN_TYPE.EPISODE)">
    </kendo-dropdownlist>
  </div>
</div>
