<div class="main-container">
  <div class="dropdown-area">
    <!-- Series Dropdown -->
    <kendo-dropdownlist class="dropdown" [data]="seriesListItems" [value]="seriesListItems[0]"
                        (selectionChange)="handleSelectionChange($event, DROP_DOWN_TYPE.SERIES)">
    </kendo-dropdownlist>

    <!-- Season Dropdown -->
    <kendo-dropdownlist *ngIf="!!seasonsListItems.length" class="dropdown" [data]="seasonsListItems" [value]="seasonsListItems[0]"
                        (selectionChange)="handleSelectionChange($event, DROP_DOWN_TYPE.SEASON)">
    </kendo-dropdownlist>
  </div>

  <!-- Grid -->
  <div class="grid-container">
    <div class="grid">
      <app-grid [columns]="episodeService.episodeGridColumns" [gridData]="selectedSeason.Episodes" (onTitleClick)="handleTitleClick($event)">
      </app-grid>
    </div>
  </div>
</div>

<!-- Modal -->
<app-modal [opened]="openModal" [title]="selectedSeries.Title + ': Season ' + selectedSeason.Season" (onClose)="handleModalClose()">
  <div *ngIf="!!selectedEpisode.Title; else loader" class="modal-content">
    <p><span class="bold-text">Title:</span> {{selectedEpisode.Title}}</p>
    <p><span class="bold-text">Runtime:</span> {{selectedEpisode.Runtime}}</p>
    <p><span class="bold-text">Genre:</span> {{selectedEpisode.Genre}}</p>
    <p><span class="bold-text">Plot:</span> {{selectedEpisode.Plot}}</p>
    <img class="poster" src="{{selectedEpisode.Poster}}" alt="poster">
  </div>
</app-modal>


<ng-template #loader>
  <div class="loader">
    <kendo-loader [type]="'infinite-spinner'" [themeColor]="'secondary'"></kendo-loader>
  </div>
</ng-template>
